{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
            <div class="otakufan">
            <h1>Bienvenue sur otakufan</h1>
            </div>
            <div class="site">
            <h1>Presentations Site</h1>
                <p>otakufan est un site qui parle de manga , manhua, manhwa 
                est aussi presente avec detail le personnages et n'hesiter pas 
                me donner votre avis en commentaires.</p>
            </div>
                        
             <section id="accueil">
            {% for universUnique in univers %}
                <div class="accueil">
                    <a href={{ path('app_univers_single', {id:universUnique.id})}}>
                        <img class="fit" src={{vich_uploader_asset(universUnique, 'imageFile')}} alt=""/>
                        {# <p class="nom1">{{ universUnique.nom}}</p> #}
                    </a>
                </div>
        {% endfor %}
        </section>
    </main>
{% endblock %}


