.pouvoirslist{

   
    padding: 2em;
   
    p{
       padding: 1em;
   }
}

#pouvoirs{

    margin: auto;
    text-align: center;
    width: 800px;
    margin-top: 2em;
    border: 1px solid blanchedalmond;
    padding: 1em;

}