<footer>
        <ul>
            <li><a href={{ path('app_home') }}><img src={{ asset("assets/image/LOGO-SOFIAN.png")}} alt="logo slime isekai site information"></a></li>
            <li>© 2022 Sofian BOUCHAMAMA | Tous Droits Réservées |
            CGV | Mentions Légales</li>
            <li><a href="https://www.facebook.com/sofian.depay" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/sofian-bouchama-4679b4193" target="_blank" >LinkedIn</a></li>
        </ul>
    </footer>